@model BodybuildingTest.Models.UserInformation.UserInfo

<h2>Add a New User</h2>

@using (Html.BeginForm("NewUser", "UserInfo", "Post"))
{
    <input asp-for="UserID" type="hidden" value="" />
    <input asp-for="Most_Recent_Workout" type="hidden" value="" />
    <input asp-for="Create_Time" type="hidden" value="" />

    <label asp-for="FirstName" class="control-label">FirstName</label>
    <input type="text" name="FirstName" class="form-control" value="" />

    <label asp-for="LastName" class="control-label">LastName</label>
    <input type="text" name="LastName" class="form-control" value="" />

    <label asp-for="Username" class="control-label">Username</label>
    <input type="text" name="Username" class="form-control" value="" />

    <label asp-for="Password" class="control-label">Password</label>
    <input type="text" name="Password" class="form-control" value="" />

    <label asp-for="Email" class="control-label">Email</label>
    <input type="text" name="Email" class="form-control" value="" />


    <input type="submit" value="Add User" class="btn btn-primary" />
}