@model IEnumerable<BodybuildingTest.Models.Exercise.Exercises>

<h2>Exercises</h2>
<table class="table">
    <tr>
        <th>ExerciseID</th>
        <th>ExerciseName</th>
        <th>BodySection</th>
    </tr>

    @foreach (var exercise in @Model)
    {
        <tr>
            <td><a href=/Exercise/ViewExercise/@exercise.ExerciseID>@exercise.ExerciseID</a></td>
            <td>@exercise.ExerciseName</td>
            <td>@exercise.BodySection</td>
        </tr>
    }
</table>